{% extends 'result.html' %}

{% block content %}
<h1>hello vignesh!!!, Welcome to update/delete page</h1>

{% if select_by_id %}
<form action='{% url 'curd_app:update' select_by_id.id %}' method="POST">
{% csrf_token %}

    enter the first_name : <input type='text' name = 'first_name' value='{{ select_by_id.first_name }}' >
    enter the age : <input type='text' name = 'age' value = {{ select_by_id.age }} >

    <input type='submit' value= 'update'>

</form>
{% endif%}

{% endblock%}